body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #e0f7fa, #80deea);
    background-attachment: fixed; /* Зафиксировать фон при прокрутке */
    color: #333; /* Цвет текста по умолчанию */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
